@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
.navbar-main {
  width: 100%;
  height: 100px;
  background-color: #121618;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.nav-contents p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #f5f5f5;
  padding: 5px;
  cursor: pointer;
}
.nav-contents p:hover {
  color: #0796ef;
}
.nav-contents {
  display: flex;
  gap: 15px;
}
.nav-logo img {
  height: 65px;
  width: 75px;
  position: absolute;
  top: 18px;
  right: 155px;
}
.nav-logo2 {
  position: relative;
  top: 15px;
  background-image: url("../../public/uploads/DEEP\ NET.png");
  background-repeat: no-repeat;
  height: 52px;
  width: 154px;
}
.logos {
  display: flex;
  gap: 20px;
  position: relative;
}
