.cards-main {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.connect,
.companyName,
.find {
  width: 320px;
  height: 120px;
  border-radius: 15px;
  border: 2px solid rgb(97, 95, 95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.connect-head {
  background-image: url('../../assets/uploads/connect.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 13px;
}
.connect-phone,
.connect-mail {
  background-image: url('../../assets/uploads/call.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect-mail {
  background-image: url('../../assets/uploads/mail.png');
}

.logoss {
  background-image: url('../../assets/uploads/Logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 180px;
  position: relative;
  bottom: 20px;
  left: 120px;
}

.name {
  background-image: url('../../assets/uploads/dns.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  position: relative;
  bottom: 20px;
  height: 180px;
}
.social {
  background-image: url('../../assets/uploads/social.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 65px;
  position: relative;
  bottom: 30px;
}
.find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.findus {
  background-image: url('../../assets/uploads/Findus.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 20px;
  margin: 20px auto;
}
.location {
  background-image: url('../../assets/uploads/Location.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 80px;
  position: relative;
  bottom: 20px;
  right: 16px;
}

@media screen and (max-width: 360px) {
  .cards-main {
    min-height: 650px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .connect,
  .companyName,
  .find {
    width: 80%;
    height: 150px;
  }

  .connect-head {
    width: 200px;
    height: 15px;
  }

  .logoss {
    width: 100px;
    height: 40px;
    left: 30px;
    top: 1px;
  }

  .name {
    top: 15px;
    width: 150px;
    height: 100px;
  }

  .social {
    width: 120px;
    height: 35px;
  }

  .location {
    width: 140px;
    height: 60px;
    bottom: 5px;
    right: 0;
  }
}
